body {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    background-color: rgb(223, 185, 185);
}

.header {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.logo {
    max-width: 58px;
}

h1 {
    padding-left: 15px;
    text-align: center;
}

.main-container {
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 480px;
    background-color: white;
}

.grid {
    display: flex;
    flex-wrap: wrap;

}

/* .color {
    background-color: black;
} */

.wrapper {
    display: flex;
    flex-direction: column;
}

.btn-container {
    display: flex;
    margin: auto;
    text-align: center;
    /* width: 480px; */
    padding-bottom: 25px;
    justify-content: space-between;


}

.slider-container {
    display: flex;
}

.button {
    border-radius: 10px;
    padding: 0px 30px 0px 30px;
}

.erase {
    background-color: white;
}

.reset-button {
    border-radius: 10px;
    padding: 0px 30px 0px 30px;
}

.clicked {
    background-color: black;
    color: white;
}

p {
    font-weight: bold;
}

#color-picker-container {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
}

[type="color"] {
    border: 0;
    padding: 0;
    width: 200%;
    height: 200%;
    cursor: pointer;
    transform: translate(-25%, -25%)
}

.footer{
    display: flex;
    padding-top: 150px;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}